{% extends 'base.html' %}
{% load static %}

{% block content %}

  <link rel="stylesheet" type="text/css" href='{% static "atlassian/css/style.css" %}' >
  <style>
    tr {
      cursor: pointer;
    }
  </style>

  <header class="aui-page-header">
      <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
              <span class="aui-avatar aui-avatar-large aui-avatar-project">
                  <span class="aui-avatar-inner">
                      <img alt="Fluendo" src='{% static "atlassian/img/fluendo.jpg" %}''>
                  </span>
              </span>
          </div>
          <div class="aui-page-header-main">
              <ol class="aui-nav aui-nav-breadcrumbs">
                  <li><a href="#">Fluendo</a></li>
                  <li><a href="#" class="custom">Contact</a></li>
                  <li class="aui-nav-selected">List View</li>
              </ol>
          </div>
          <div class="aui-toolbar2" role="toolbar">
              <div class="aui-toolbar2-inner">
                  <div class="aui-toolbar2-secondary">
                    <div class="aui-buttons">
                      <button class="aui-button">New Contact</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>

  </header>

  <section>
    <table class="aui aui-table-sortable" id="customer-list">
      <thead>
          <tr>
              <th id="basic-number">#</th>
              <th id="customer-basic-fname">Full Name</th>
              <th>Email</th>
              <th>User</th>
              <th>Create At</th>
          </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
          <tr>
            <td>{{contact.id}}</td>
            <td>
              <a href="{% url 'sales-contacts-detail-view' pk=contact.id %}">
                {{contact.first_name}} {{contact.last_name}} 
              </a>
            </td>
            <td>
              {{contact.email}}
            </td>
            <td>
              {{contact.user}} 
            </td>
            <td>
              {{contact.created_at}}
            </td>
          </tr>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
