{% extends 'django_atlassian/base.html' %}
{% block content %}
<style>
table > tbody,tfoot > tr {
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

iframe {
  border: 0;
  width: 100%;
  height: 10px;
}

</style>
<script>
  AJS.$(".progress-bar").tooltip();
  /* Once the iframe has loaded, remove the spinner */
  AJS.$(document).on('ready', function() {
    AJS.$('iframe').each(function(idx) {
        AJS.$(this).on('load', function() {
            AJS.$(this).prev().remove();
        });
    });
  });
</script>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Status</th>
      <th style="width: 20%">Progress</th>
    </tr>
  </thead>
  <tbody>
    {% for name,v in data.items %}
    <tr>
      <td>{{ name }}</td>
      <td>
        {% for project in v.projects %}
          <a href="{{ project.url }}"/>{{project.project }}</a>
        {% endfor %}
      </td>
      <td>
        {% for project in v.projects %}
          {% if project.status == 'released' %}
            <span class="aui-lozenge aui-lozenge-success">RELEASED</span>
          {% else %}
            <span class="aui-lozenge aui-lozenge-current">UNRELEASED</span>
          {% endif %}
        {% endfor %}
      </td>
      <td>
        <aui-spinner size="small"></aui-spinner>
        <iframe src="{{ v.progress }}"></iframe>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
