{% extends 'atlassian_addon/page.html' %}
{% load static %}
{% block main %}
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <div class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h1 class="component-heading">Business Time</h1>
            </div>
          </div>
        </div>
        <div id="configuration">
          <h2 class="component-heading">Start / End</h2>
          <form class='aui' method="get" action="{% url 'workmodel-business-time-update-start-stop-fields' %}">
            <input class="jwt" type="hidden" name="jwt"/>
            <div class="field-group">
              <label for="startId">Select the start field</label>
              <select class="select" name="startId">
                {% for f in fields %}
                  <option value="{{ f.id }}" {% if f.id == conf.value.start_field_id %} selected {% endif %}>{{ f.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="field-group">
              <label for="endId">Select the end field</label>
              <select class="select" name="endId">
                {% for f in fields %}
                  <option value="{{ f.id }}" {% if f.id == conf.value.end_field_id %} selected {% endif %}>{{ f.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="buttons-container">
              <button type='submit' class='aui-button aui-button-primary'>Save</button>
            </div>
          </form>
        </div>
        <div id="rescan">
          <h2 class="component-heading">Rescan of issues</h2>
          <form class='aui' method="get" action="{% url 'workmodel-business-time-rescan-issues-progress' %}">
            <input class="jwt" type="hidden" name="jwt"/>
            <div class="buttons-container">
              <button id="update-issues" class="aui-button aui-button-primary">Rescan issues progress</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
  <script>
    AJS.$(document).ready(function() {
      AP.context.getToken(function(token) {
        $('.jwt').attr('value', token);
      });
    });
  </script>
{% endblock %}
