{% extends 'atlassian/base.html' %}

{% block content %}

<script>

  function fn_submit(){
    id_tags = jQuery('#tags')[0];
    customer = jQuery('#customers-list')[0];
    csrftoken = document.getElementsByName(
      'csrfmiddlewaretoken')[0].value;

    c_item = customer[customer.selectedIndex].value;
    c_text = customer[customer.selectedIndex].text;

    if(c_item == 0){
      return false;
    }

    save_btn = jQuery('#save-btn')[0];
    jQuery(save_btn).attr('disabled','disabled');

    jQuery.ajaxSetup({
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    });

    jQuery.ajax({
      type: 'POST',
      dataType: 'json',
      url: "{% url 'customers-view-update' %}?issue_key={{issue.key}}",
      data: JSON.stringify({
        customer: c_text,
        customer_id: c_item,
      }),
      success: function(response){
        console.log(response);
        AP.require(["jira"], function(jira) {
          AP.jira.refreshIssuePage();
        });
      },
      error: function(error){
        console.log(error);
      }
    });

  }

</script>

<div class="aui" style="height: 600px;">
  <img 
    src="https://web-fluendo.s3.amazonaws.com/static/img/favicon.png"
    width="16px"
    height="16px" />
  <span>{{issue.key}} Customer</span>
  <br/>
  <b>{{c_property.value.customer}}</b>

<form class="aui" id="customers-form" 
  onsubmit="javascript: return false;">
  {% csrf_token %}
  <select id="customers-list">
  </select>
<form>

</div>

<script>
$( function() {
  customers_list = AJS.$("#customers-list")
  customers_list.auiSelect2();

  $.get(
    "{% url 'customers-proxy' %}",
    function(data){
      data.forEach(function(customer){
        option = new Option(
          customer.company_name,
          customer.id,
          false,
          false);
        customers_list.append(option);
      });
    }
  );

  customers_list.on('change', function (e) {
    fn_submit();
  });

});
</script>

{% endblock %}
