{% extends 'atlassian_addon/page.html' %}
{% load static %}
{% block extra-scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
{% endblock %}
{% block main %}
  <style>
  .order-draggable {
    width: 8px;
  }
  
  .draghandle {
    display: inline-block;
    width: 8px;
    min-height: 24px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVR42mNgAIJz507/Z4AxVqxYAuEgAwD26QnApt++GwAAAABJRU5ErkJggg==");
  }
  
  .order-arrow {
    font-weight: bold;
  }
  
  .order-arrow-disabled {
    color: gray;
  }
  
  .order-arrow-enabled {
    color: blue;
    cursor: pointer;
  }
  
  </style>
  <script type="text/underscore-template" id="hierarchyTemplate">
    <tr class="current-hierarchy">
      <td class="order-draggable"><span class="draghandle"></span></td>
      <td>
        <span class="order-up-arrow order-arrow order-arrow-enabled">&uarr;</span>
        <span class="order-down-arrow order-arrow order-arrow-disabled">&darr;</span>
      </td>
      <td>
        <select class="type-selector selector-ui">
          <option value="custom">Custom</option>
          <option value="epic">Epic</option>
          <option value="sub-task">Sub-Task</option>
        </select>
      </td>
      <td><input class="is-operative-selector" type="checkbox" name="is_operative" value="True"/></td>
      <td><input class="is-container-selector" type="checkbox" name="is_container" value="True"/></td>
      <td>
        <select class="issue-type-selector selector-ui" multiple="">
          {% for it in issue_types %}
            <option value="{{ it.id }}">{{ it.name }}</option>
          {% endfor %}
        </select> 
      </td>
      <td>
        <select class="field-selector selector-ui" disabled>
          <option value="">None</option>
          <option value="{{ f.key }}">{{ f.name }}</option>
        </select> 
      </td>
      <td>
        <select class="link-type-selector selector-ui">
          <option value="">None</option>
          {% for lt in issue_link_types %}
            <option value="{{ lt.id }}">{{ lt.name }}</option>
          {% endfor %}
        </select> 
      </td>
      <td>
        <button class="delete-row aui-button">Remove</button>
      </td>
    </tr>
  </script>
  <script>
    function update_arrows(curr_row) {
      if ($(curr_row).prev().length) {
        $(curr_row).find('span.order-up-arrow').attr('class', 'order-up-arrow order-arrow order-arrow-enabled');
      } else {
        $(curr_row).find('span.order-up-arrow').attr('class', 'order-up-arrow order-arrow order-arrow-disabled');
      }
      if ($(curr_row).next().length) {
        $(curr_row).find('span.order-down-arrow').attr('class', 'order-down-arrow order-arrow order-arrow-enabled');
      } else {
        $(curr_row).find('span.order-down-arrow').attr('class', 'order-down-arrow order-arrow order-arrow-disabled');
      }
    }
    
    AJS.$(document).on('click', '#add-row', function(event) {
      event.preventDefault();
      var cloned_row = _.template($('#hierarchyTemplate').html())();
      var last_row = $("tbody tr").last()[0];
      if (last_row)
          $(cloned_row).insertAfter(last_row);
      else
          $("tbody").append(cloned_row);
      AJS.$("tbody tr").last().find(".selector-ui").auiSelect2();
      // Change the order arrows behaviour
      update_arrows(last_row);
      update_arrows(cloned_row);
    });
    
    AJS.$(document).on('click', '.delete-row', function(event) {
      event.preventDefault();
      var curr_row = $(this).parent().parent();
      var prev_row = $(curr_row).prev();
      var next_row = $(curr_row).next();
      $(curr_row).remove();
      update_arrows(prev_row);
      update_arrows(next_row);
    });
    
    AJS.$(document).on('click', '.order-up-arrow.order-arrow-enabled', function(event) {
      // Get the next row and swap
      var curr_row = $(this).parent().parent();
      var prev_row = $(curr_row).prev();
      $(curr_row).insertBefore(prev_row);
      update_arrows(curr_row);
      update_arrows(prev_row);
    });
    
    AJS.$(document).on('click', '.order-down-arrow.order-arrow-enabled', function(event) {
      // Get the next row and swap
      var curr_row = $(this).parent().parent();
      var next_row = $(curr_row).next();
      $(curr_row).insertAfter(next_row);
      update_arrows(curr_row);
      update_arrows(next_row);
    });
    
    AJS.$(document).on('change', '.type-selector', function(event) {
      var val = $(this).val();
      if (val == 'epic' || val == 'sub-task') {
        $(this).parent().parent().find('.issue-type-selector').val(null).trigger('change');
        $(this).parent().parent().find('.issue-type-selector').prop('disabled', true);
        $(this).parent().parent().find('.field-selector').val(null).trigger('change');
        $(this).parent().parent().find('.field-selector').prop('disabled', true);
        $(this).parent().parent().find('.link-type-selector').val(null).trigger('change');
        $(this).parent().parent().find('.link-type-selector').prop('disabled', true);
        $(this).parent().parent().find('.is-operative-selector').prop('disabled', true);
        $(this).parent().parent().find('.is-container-selector').prop('disabled', true);
      } else {
        $(this).parent().parent().find('.issue-type-selector').removeAttr("disabled");
        $(this).parent().parent().find('.field-selector').removeAttr("disabled");
        $(this).parent().parent().find('.link-type-selector').removeAttr("disabled");
        $(this).parent().parent().find('.is-operative-selector').removeAttr("disabled");
        $(this).parent().parent().find('.is-container-selector').removeAttr("disabled");
      }
    });
    
    var WorkmodelHierarchyConfigurationService = function() {
      return {
        getConfiguration: function(configuredCallback) {
          AP.require(['request'], function(request) {
            request({
              url: '/rest/atlassian-connect/1/addons/com.fluendo.atlassian-addon/properties/workmodel-configuration',
              success: function(response) {
                configuredCallback(JSON.parse(response).value);
              }
            });
          });
        },
        save : function(configuration, successCallback) {
          AP.require(['request'], function(request) {
            request({
              url: '/rest/atlassian-connect/1/addons/com.fluendo.atlassian-addon/properties/workmodel-configuration',
              type: 'PUT',
              contentType: 'application/json',
              data: JSON.stringify(configuration),
              success: successCallback
            });
          });
        }
      }
    };
    
    AJS.$(document).on('click', '#save', function(event) {
      event.preventDefault();
      var service = new WorkmodelHierarchyConfigurationService();
      service.getConfiguration(function(configuration) {
        // replace the current configuration with the json representation of the form
        var hierarchy = null;
        if ($("tbody tr").length) {
          hierarchy = [];
          $("tbody tr").each(function(i, e) {
            var type = $(e).find("select.type-selector").val();
            var is_container = $(e).find("input.is-container-selector").prop("checked") ? true : false;
            var is_operative = $(e).find("input.is-operative-selector").prop("checked") ? true : false;
            var field = $(e).find("select.field-selector").val() || null;
            var link = $(e).find("select.link-type-selector").val() || null;
            var issues = null;
            if ($(e).find("select.issue-type-selector").find(":selected").length) {
              issues = []
              $(e).find("select.issue-type-selector").find(":selected").each(function(i, e) {
                issues.push($(e).val());
              });
            }
            var row_configuration = {
              type: type,
              is_operative: is_operative, 
              is_container: is_container, 
              issues: issues,
              field: field,
              link: link
            };
            hierarchy.push(row_configuration);
          });
        }
        configuration.hierarchy = hierarchy;
        service.save(configuration, function() {
          AJS.flag({type: 'success', body: 'Configuration correctly saved', close: 'auto'})
        });
      });
    });
    
    AJS.$(document).ready(function() {
      AJS.$(".selector-ui").auiSelect2();
    });
  </script>
  <div class="aui-page-panel" style="min-height: 500px">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <div class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h1 class="component-heading">Hierarchies</h1>
            </div>
          </div>
        </div>
        <div id="configuration">
          <form id="configuration-form" class="aui">
            <table class="aui">
              <thead>
                <tr>
                  <th></th>
                  <th id="order">Order</th>
                  <th id="type">Type</th>
                  <th id="operative">Is Operative</th>
                  <th id="container">Is Container</th>
                  <th id="issues" style="width: 30%">Issue Type</th>
                  <th id="field">Field</th>
                  <th id="link">Link Type</th>
                  <th id="actions">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for h in conf.hierarchy %}
                <tr class="current-hierarchy">
                  <td class="order-draggable"><span class="draghandle"></span></td>
                  <td>
                  {% if conf.hierarchy|length != 1 %}
                    {% if forloop.first %}
                      <span class="order-up-arrow order-arrow order-arrow-disabled">&uarr;</span>
                      <span class="order-down-arrow order-arrow order-arrow-enabled">&darr;</span>
                    {% elif forloop.last %}
                      <span class="order-up-arrow order-arrow order-arrow-enabled">&uarr;</span>
                      <span class="order-down-arrow order-arrow order-arrow-disabled">&darr;</span>
                    {% else %}
                      <span class="order-up-arrow order-arrow order-arrow-enabled">&uarr;</span>
                      <span class="order-down-arrow order-arrow order-arrow-enabled">&darr;</span>
                    {% endif %}
                  {% endif %}
                  </td>
                  <td>
                    <select class="type-selector selector-ui">
                      <option value="custom" {% if h.type == "custom" %} selected {% endif %}>Custom</option>
                      <option value="epic" {% if h.type == "epic" %} selected {% endif %}>Epic</option>
                      <option value="sub-task" {% if h.type == "sub-task" %} selected {% endif %}>Sub-Task</option>
                    </select>
                  </td>
                  <td><input class="is-operative-selector" type="checkbox" name="is_operative" value="True" {% if h.is_operative %} checked {% endif %} {% if h.type == "sub-task" %} disabled {% endif %}/></td>
                  <td><input class="is-container-selector" type="checkbox" name="is_container" value="True" {% if h.is_container %} checked {% endif %} {% if h.type == "epic" or h.type == "sub-task" %} disabled {% endif %}/></td>
                  <td>
                    <select class="issue-type-selector selector-ui" multiple="">
                      {% for it in issue_types %}
                        <option value="{{ it.id }}" {% if it in h.issues %} selected {% endif %}>{{ it.name }}</option>
                      {% endfor %}
                    </select> 
                  </td>
                  <td>
                    <select class="field-selector selector-ui">
                      <option value="" {% if not h.field %} selected {% endif %}>None</option>
                      {% for f in fields %}
                        <option value="{{ f.key }}" {% if f.key == h.field %} selected {% endif %}>{{ f.name }}</option>
                      {% endfor %}
                    </select> 
                  </td>
                  <td>
                    <select class="link-type-selector selector-ui">
                      <option value="" {% if not h.link %} selected {% endif %}>None</option>
                      {% for lt in issue_link_types %}
                        <option value="{{ lt.id }}" {% if lt.id == h.link.id %} selected {% endif %}>{{ lt.name }}</option>
                      {% endfor %}
                    </select> 
                  </td>
                  <td>
                    <button class="delete-row aui-button">Remove</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <button id="add-row" class="aui-button aui-button-primary">Add</button>
                    <button id="save" class="aui-button aui-button-primary">Save</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </form>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
