{% extends 'atlassian_addon/page.html' %}
{% load static %}
{% block extra-scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
{% endblock %}
{% block main %}
  <style>
  .order-draggable {
    width: 8px;
  }
  
  .draghandle {
    display: inline-block;
    width: 8px;
    min-height: 24px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVR42mNgAIJz507/Z4AxVqxYAuEgAwD26QnApt++GwAAAABJRU5ErkJggg==");
  }
  
  .order-arrow {
    font-weight: bold;
  }
  
  .order-arrow-disabled {
    color: gray;
  }
  
  .order-arrow-enabled {
    color: blue;
    cursor: pointer;
  }
  </style>
  <script>
    AJS.$(document).ready(function() {
      AJS.$(".selector-ui").auiSelect2();
      AP.context.getToken(function(token) {
        $('.jwt').attr('value', token);
      });
      {% comment %}
      <!-- TODO we have to override the type, current django does not handle ordering_widget -->
      {% endcomment %}
      AJS.$("input[type='number'][name*='ORDER']").attr('type', 'hidden');
    });
  </script>
  <script type="text/underscore-template" id="hierarchyTemplate">
    <tr class="current-hierarchy">
      <td class="order-draggable"><span class="draghandle"></span></td>
      <td>
        {{ formset.empty_form.ORDER }}
        <span class="order-up-arrow order-arrow order-arrow-enabled">&uarr;</span>
        <span class="order-down-arrow order-arrow order-arrow-disabled">&darr;</span>
      </td>
      <td>{{ formset.empty_form.type }}</td>
      <td>{{ formset.empty_form.is_operative }}</td>
      <td>{{ formset.empty_form.is_container }}</td>
      <td>{{ formset.empty_form.issues }}</td>
      <td>{{ formset.empty_form.field }}</td>
      <td>{{ formset.empty_form.link }}</td>
      <td>{{ formset.empty_form.DELETE }}</td>
    </tr>
  </script>
  <script>
    function update_arrows(curr_row) {
      if ($(curr_row).prev().length) {
        $(curr_row).find('span.order-up-arrow').attr('class', 'order-up-arrow order-arrow order-arrow-enabled');
      } else {
        $(curr_row).find('span.order-up-arrow').attr('class', 'order-up-arrow order-arrow order-arrow-disabled');
      }
      if ($(curr_row).next().length) {
        $(curr_row).find('span.order-down-arrow').attr('class', 'order-down-arrow order-arrow order-arrow-enabled');
      } else {
        $(curr_row).find('span.order-down-arrow').attr('class', 'order-down-arrow order-arrow order-arrow-disabled');
      }
    }
    
    AJS.$(document).on('click', '#add-row', function(event) {
      event.preventDefault();
      var form_idx = $('#id_form-TOTAL_FORMS').val();
      var cloned_row = _.template($('#hierarchyTemplate').html().replace(/__prefix__/g, form_idx))();
      // Update the order
      var last_row = $("tbody tr").last()[0];
      // Update the total number
      $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      if (last_row)
          $(cloned_row).insertAfter(last_row);
      else
          $("tbody").append(cloned_row);
      cloned_row = AJS.$("tbody tr").last()
      $(cloned_row).find(".selector-ui").auiSelect2();
      $(cloned_row).find("input[name*='ORDER']").attr('type', 'hidden');
      $(cloned_row).find("input[name*='ORDER']").val(parseInt(form_idx));
      // Change the order arrows behaviour
      update_arrows(last_row);
      update_arrows(cloned_row);
    });
    
    AJS.$(document).on('click', '.order-up-arrow.order-arrow-enabled', function(event) {
      // Get the next row and swap
      var curr_row = $(this).parent().parent();
      var prev_row = $(curr_row).prev();
      $(curr_row).insertBefore(prev_row);
      update_arrows(curr_row);
      update_arrows(prev_row);
      // swap the order
      var curr_val = $(curr_row).find("input[name*='ORDER']").val();
      var prev_val = $(prev_row).find("input[name*='ORDER']").val();
      $(curr_row).find("input[name*='ORDER']").val(prev_val);
      $(prev_row).find("input[name*='ORDER']").val(curr_val);
    });
    
    AJS.$(document).on('click', '.order-down-arrow.order-arrow-enabled', function(event) {
      // Get the next row and swap
      var curr_row = $(this).parent().parent();
      var next_row = $(curr_row).next();
      $(curr_row).insertAfter(next_row);
      update_arrows(curr_row);
      update_arrows(next_row);
      // swap the order
      var curr_val = $(curr_row).find("input[name*='ORDER']").val();
      var next_val = $(next_row).find("input[name*='ORDER']").val();
      $(curr_row).find("input[name*='ORDER']").val(next_val);
      $(next_row).find("input[name*='ORDER']").val(curr_val);
    });
    
    AJS.$(document).on('change', '.type-selector', function(event) {
      var val = $(this).val();
      if (val == 'epic' || val == 'sub-task') {
        $(this).parent().parent().find('.issue-type-selector').val(null).trigger('change');
        $(this).parent().parent().find('.issue-type-selector').prop('disabled', true);
        $(this).parent().parent().find('.field-selector').val(null).trigger('change');
        $(this).parent().parent().find('.field-selector').prop('disabled', true);
        $(this).parent().parent().find('.link-type-selector').val(null).trigger('change');
        $(this).parent().parent().find('.link-type-selector').prop('disabled', true);
        $(this).parent().parent().find('.is-operative-selector').prop('disabled', true);
        $(this).parent().parent().find('.is-container-selector').prop('disabled', true);
      } else {
        $(this).parent().parent().find('.issue-type-selector').removeAttr("disabled");
        $(this).parent().parent().find('.field-selector').removeAttr("disabled");
        $(this).parent().parent().find('.link-type-selector').removeAttr("disabled");
        $(this).parent().parent().find('.is-operative-selector').removeAttr("disabled");
        $(this).parent().parent().find('.is-container-selector').removeAttr("disabled");
      }
    });
  </script>
  <div class="aui-page-panel" style="min-height: 500px">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <div class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h1 class="component-heading">Hierarchies</h1>
            </div>
          </div>
        </div>
        <div id="configuration">
          <form id="configuration-form" class="aui" method="get" action="{% url 'workmodel-hierarchy-update-configuration' %}">
            <input class="jwt" type="hidden" name="jwt"/>
            {{ formset.management_form }}
            <table class="aui">
              <thead>
                <tr>
                  <th></th>
                  <th id="order">Order</th>
                  <th id="type">Type</th>
                  <th id="operative">Is Operative</th>
                  <th id="container">Is Container</th>
                  <th id="issues" style="width: 30%">Issue Type</th>
                  <th id="field">Field</th>
                  <th id="link">Link Type</th>
                  <th id="delete">Delete</th>
                </tr>
              </thead>
              <tbody>
              {% for form in formset %}
                <tr class="current-hierarchy">
                  <td class="order-draggable"><span class="draghandle"></span></td>
                  <td>
                  {{ form.ORDER }}
                  {% if formset|length != 1 %}
                    {% if forloop.first %}
                      <span class="order-up-arrow order-arrow order-arrow-disabled">&uarr;</span>
                      <span class="order-down-arrow order-arrow order-arrow-enabled">&darr;</span>
                    {% elif forloop.last %}
                      <span class="order-up-arrow order-arrow order-arrow-enabled">&uarr;</span>
                      <span class="order-down-arrow order-arrow order-arrow-disabled">&darr;</span>
                    {% else %}
                      <span class="order-up-arrow order-arrow order-arrow-enabled">&uarr;</span>
                      <span class="order-down-arrow order-arrow order-arrow-enabled">&darr;</span>
                    {% endif %}
                  {% endif %}
                  </td>
                  <td>{{ form.type }}</td>
                  <td>{{ form.is_operative }}</td>
                  <td>{{ form.is_container }}</td>
                  <td>{{ form.issues }}</td>
                  <td>{{ form.field }}</td>
                  <td>{{ form.link }}</td>
                  <td>{{ form.DELETE }}</td>
                </tr>
              {% endfor %}
              </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8"></td>
                    <td>
                      <button id="add-row" class="aui-button aui-button-primary">Add</button>
                      <button id="save" class="aui-button aui-button-primary">Save</button>
                    </td>
                  </tr>
              </tfoot>
            </table>
          </form>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
