{% extends 'django_atlassian/base.html' %}
{% block content %}
<script>
  AJS.$(".progress-bar").tooltip();
</script>
<div class="progress" style="height: 10px">
  <div class="progress-bar" role="progressbar" style="width: {{ done_pt }}%; background-color: #36B37E" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" title="Done: {{ done }} of {{ total }} issues"></div>
  <div class="progress-bar" role="progressbar" style="width: {{ progress_pt }}%; background-color: #0052CC" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" title="In Progress: {{ progress }} of {{ total }} issues"></div>
  <div class="progress-bar" role="progressbar" style="width: {{ todo_pt }}%; background-color: #EBECF0" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" title="To Do: {{ todo }}  of {{ total }} issues"></div>
</div>
{% endblock %}
