{% extends 'atlassian/base.html' %}
{% load static %}

{% block content %}

  <link rel="stylesheet" type="text/css" href='{% static "atlassian/css/style.css" %}' >
  <style>
    tr { cursor: pointer; }
  </style>

  <header class="aui-page-header">
      <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
              <span class="aui-avatar aui-avatar-large aui-avatar-project">
                  <span class="aui-avatar-inner">
                      <img alt="Fluendo" src='{% static "atlassian/img/fluendo.jpg" %}''>
                  </span>
              </span>
          </div>
          <div class="aui-page-header-main">
              <ol class="aui-nav aui-nav-breadcrumbs">
                  <li><a href="#">Fluendo</a></li>
                  <li><a href="{% url 'sales-accounts-list-view' %}" class="custom">Accounts</a></li>
                  <li class="aui-nav-selected">List View</li>
              </ol>
              <form class="">
                  <div class="field-group">
                      <input class="text medium-field" type="text" name="search"/>
                      <button class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-search">search</span></button>
                  </div>
                  <div class="field-group">
                    <label for="freshsales">
                      <input type="checkbox" name="freshsales" />
                      search in freshsales accounts
                    </label>
                  </div>
              </form>
          </div>
          <div class="aui-page-header-actions">
              <div class="aui-buttons">
                  <button class="aui-button">New Account</button>
                  <button class="aui-button">Help</button>
                  <button class="aui-button">About</button>
              </div>
          </div>
      </div>
  </header>

  <section>

  </section>

  <section>
    <table class="aui aui-table-sortable" id="customer-list">
      <thead>
          <tr>
              <th id="basic-number">#</th>
              <th id="customer-basic-fname">Account</th>
              <th>#A</th>
              <th>#C</th>
              <th id="city-basic-fname">City</th>
              <th id="street-basic-fname">Street</th>
              <th id="country-basic-fname">Country</th>
          </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
          <tr>
            <td>
                <a href="{{fluendo.BASE_ADMIN_URL}}{{fluendo.CUSTOMERS.CUSTOMERS_URL}}{{account.id}}/?_popup=1"
                    target="_blank"
                    class="button"
                    title="backoffice">{{account.id}}</a>
            </td>
            <td>
              <a href="{% url 'sales-account-detail-view' pk=account.id %}">
                {{account.company_name}}
              </a>
            </td>
            <td>
                <aui-badge>
                    #{{account.reselleragreement_set | length}}
                </aui-badge>
            </td>
            <td>
                <aui-badge>
                    #{{account.customercontact_set | length}}
                </aui-badge>
            </td>
            <td>{{account.city}}</td>
            <td>{{account.street}}</td>
            <td>{{account.country}}</td>
          </tr>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
