{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        tr{cursor: pointer;}
    </style>

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
              <span class="aui-avatar aui-avatar-large aui-avatar-project">
                  <span class="aui-avatar-inner">
                      <img alt="Fluendo" src='{% static "atlassian/img/fluendo.jpg" %}''>
                  </span>
              </span>
          </div>
          <div class="aui-page-header-main">
              <ol class="aui-nav aui-nav-breadcrumbs">
                  <li><a href="#">Fluendo</a></li>
                  <li>
                      <a href="{% url 'sales-accounts-list-view' %}" class="custom">
                      Accounts
                      </a>
                  </li>
                  <li class="aui-nav-selected">Detail View</li>
              </ol>
              <h1>{{account.company_name}}</h1>
          </div>
          <div class="aui-page-header-actions">
              <div class="aui-buttons">
                  <button class="aui-button">Reload</button>
              </div>
          </div>
        </div>
    </header>

    <div class="aui-group">
        <div class="aui-item">
            {% include "sales/account-detail-info.html" %}
        </div>
        <div class="aui-item">
            {% include "sales/account-contacts-info.html" %}
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="aui-message aui-message-{{ message.tags }}"
        style="width: 40%; margin-left: 2%;">
        <p>{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}

    <section>
    <form class="aui" method="POST">
        {% csrf_token %}
        <div class="aui-group" style="padding-right: 2em;">
            {% for group, group_fields in account_form.groups.items %}
            <div class="aui-item">
                <div class="field-group">
                    <h4>{{ group | upper }}</h4>
                    {% for field in account_form %}
                    {% if field.name in group_fields %}
                    <label for="{{field.name}}">{{field.label}}</label>
                    {{ field }}
                    <div class="description"></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor%}
        </div>

        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit"
                    type="submit"
                    value="SAVE"
                    id="comment-save-button">
                <a href="{{fluendo.BASE_ADMIN_URL}}{{fluendo.CUSTOMERS.CUSTOMERS_URL}}{{account.id}}/?_popup=1"
                    target="_blank"
                    class="button"
                    title="backoffice">CUSTOMER</a>
                <a href="{{fluendo.BASE_ADMIN_URL}}{{fluendo.FRESHSALES.ACCOUNTS_URL}}{{account.account.id}}?_popup=1"
                    target="_blank"
                    class="button"
                    title="backoffice">ACCOUNT</a>
            </section>
            </div>
        </div>

    </form>

    <section style="padding: 2em 0em 0em 2em">
    {% if agreements %}
        <h4>Agreements</h4>
        <table class="aui" id="reseller-agreement-list" style="width: 50%">
            <thead>
                <tr>
                    <th id="basic-number">#</th>
                    <th id="customer-basic-fname">Start Date</th>
                    <th id="customer-basic-fname">Support Start Date</th>
                    <th id="customer-basic-fname">Support End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for agreement in agreements %}
                <tr id="a-{{agreement.id}}" data-agreement-id="{{agreement.id}}">
                    <td>
                        <a 
                            href="{{fluendo.BASE_ADMIN_URL}}{{fluendo.CUSTOMERS.AGREEMENTS_URL}}{{agreement.id}}?_popup=1"
                            target="_blank"
                            title="fluendo backoffice">{{agreement.id}}</a>
                    </td>
                    <td>{{agreement.start_date}}</td>
                    <td>{{agreement.support_period_from}}</td>
                    <td>{{agreement.support_period_to}}</td>
                </tr>
                <tr id="a-{{agreement.id}}-detail">
                    <td colspan="4">
                        <pre>
                            #{{agreement.id}} - detailt - ToDo
                        </pre>
                    </td>
                </tr>
                <script>
                    $("#a-{{agreement.id}}").bind("click", function() {
                        $("#a-{{agreement.id}}-detail").toggle();
                    });
                    $("#a-{{agreement.id}}-detail").hide();
                </script>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="aui-group">
            <div class="aui-item">
                <div class="aui-message aui-message-warning">
                    <p class="title">
                        <strong>Warning!</strong>
                    </p>
                    <p>No Agreements</p>
                </div>
            </div>
            <div class="aui-item"></div>
        </div>
    {% endif %}
    </section>

    <section style="padding: 2em 0em 0em 2em">
        {% if contacts %}
            <h4>Contacts</h4>
            <form class="aui" method="POST">
            {% csrf_token %}
            <table class="aui" id="contacts-list" style="width: 70%; margin-bottom: 1em;">
                <thead>
                    <tr>
                        <th id="basic-number">#</th>
                        <th id="customer-basic-fname">full-name</th>
                        <th id="customer-basic-fname">type</th>
                        <th id="customer-basic-fname">position</th>
                        <th id="customer-basic-fname">email</th>
                        <th id="customer-basic-fname">phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a><i class="fa fa-plus-circle"></i></a>
                        </td>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    {% for contact in contacts %}
                    <tr id="a-{{contact.id}}">
                        <td>
                            {% if contact.contact %}
                            <a href="{% url 'sales-contacts-detail-view' contact.contact.id %}">
                            {% else %}
                            <a>
                            {% endif %}
                                {{ contact.contact.id }}
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            {{contact.contact.last_name}},&nbsp;
                            {{contact.contact.first_name}}
                        </td>
                        <td>{{contact.contact.job_title}}</td>
                        <td>
                            {{contact.contact.job_title | default:'--'}}
                        </td>
                        <td>
                            {{contact.contact.email}}
                        </td>
                        <td>
                            {{contact.contact.phone_work | default:'--'}}
                            {{contact.contact.phone_mobile | default:'--'}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>

        {% else %}
            <div class="aui-group">
                <div class="aui-item">
                    <div class="aui-message aui-message-warning">
                        <p class="title">
                            <strong>Warning!</strong>
                        </p>
                        <p>No Contacts</p>
                    </div>
                </div>
                <div class="aui-item"></div>
            </div>
        {% endif %}
    </section>


{% endblock %}
