{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<script>
    $(document).ready(function(){
        $( "#user" ).autocomplete({
          source: function(request, response) {
              $.ajax({
                    url:'/atlassian/sales/users',
                    dataType: "json",
                    data: {
                            q: request.term
                    },
                    success: function(data) {
                        response($.map(data.results, function(item) {
                            var fullname = [item.username, item.email].join(" ");
                            return {
                                label: fullname,
                                value: item.id
                                };
                        }));
                    }
              });
          },
          minlength: 3,
          select: function(e, ui) {
              // actually nothing
          }
        });
    });
</script>

    <style>
        tr{cursor: pointer;}
    </style>

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
              <span class="aui-avatar aui-avatar-large aui-avatar-project">
                  <span class="aui-avatar-inner">
                      <img alt="Fluendo" src='{% static "atlassian/img/fluendo.jpg" %}''>
                  </span>
              </span>
          </div>
          <div class="aui-page-header-main">
              <ol class="aui-nav aui-nav-breadcrumbs">
                  <li><a href="#">Fluendo</a></li>
                  <li><a href="{% url 'sales-contacts-list-view' %}" class="custom">Contacts</a></li>
                  <li class="aui-nav-selected">Add</li>
              </ol>
              <h1>{{contact.company_name}}</h1>
          </div>
          <div class="aui-page-header-actions">
              <div class="aui-buttons">
                  <button class="aui-button">Reload</button>
              </div>
          </div>
        </div>
    </header>
    {% if messages %}
        {% for message in messages %}
        <div class="aui-message aui-message-{{ message.tags }}" style="width: 20%; margin-left: 2%;">
            <p>{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}

    <section>
    <form class="aui" method="POST">
        {% csrf_token %}
        <div class="field-group">
        {% for hidden in form.hidden_fields %}
            {{hidden}}
        {% endfor %}
        </div>
        <div class="aui-group" style="padding-right: 2em;padding-left: 2em;">
        {% for group, elements in form.groups.items %}
                <label>{{group|upper}}</label>
                {% for field in form.visible_fields %}
                    {% if field.name in elements %}
                     <div class="field-group">
                         {{ field.errors }}
                         <label for="{{field.label}}">{{field.label}}</label>
                         {% render_field field class="text medium-long-field"%}
                     </div>
                    {% endif %}
                {% endfor %}
        {% endfor %}
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit"
                    type="submit"
                    value="Create"
                    id="save-button">
                <a class="cancel" href="{% url 'sales-contacts-list-view' %}">Cancel</a>
            </div>
        </div>

    </form>
    </section>


{% endblock %}