{% extends 'atlassian/base.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="/static/atlassian/css/style.css" >
</head>

  <section>
  </br>
    <img src='{% static "atlassian/img/logo-fluendo.png" %}'></br>
      <h1><strong>Welcome to Fluendo!</strong></h1>
  </section>
  <section>
    <div class=".bussines-line-col">
      <h2>Click on the business line that you’re interested in.</h2>
    </div>
  </section>

<section>
  <div class="column">
    <img src='{% static "atlassian/img/multimedia_codecs_gstreamer_logo.png" %}'>
    <h3>Multimedia Codecs & GStreamer Consulting</h3>
    <p>Providing multimedia software solutions and consulting expertise based on the GStreamer framework.</p>
    <!--TODO: Change the href property to correct url name-->
      <a href="https://fluendo.com/en/multimedia-codecs-gstreamer/" target="blank">
        <button><strong>SEE MORE</strong></button>
      </a>
  </div>
</section>

<section>
  <div class="business-line-col col-xs-6">
    <img alt="Video Analysis Solutions"
         src='{% static "atlassian/img/video_analysis_solutions_logo.png" %}'>
    <h3>Video Analysis Solutions</h3>
    <p>Developing video analysis solutions that help perfect tactics and performance within eSports & traditional sports.</p>
      <a href="https://fluendo.com/en/video-analysis-solutions/" target="blank">
        <button><strong>SEE MORE</strong></button>
      </a>
  </div>
</section>

{% endblock %}
