{% extends 'jira/base.html' %}

{% block content %}
<script>
  AP.require(["jira"], function(jira) {
    // When the configuration is saved, this method is called. Return the values for your input elements.
    jira.WorkflowConfiguration.onSave(function() {
      return $('#increment-create-field').val();
    });
  
    // Validate any appropriate input and return true/false
    jira.WorkflowConfiguration.onSaveValidation(function() {
      return true;
    });
  });
</script>
<form id="increment-create-form">
  <select id="increment-create-field">
  {% for f in fields %}
  <option
    {% if f == field %}selected{% endif %}
    value="{{ f.name }}">
    {{ f.verbose_name }}
  </option>
  {% endfor %}
  </select>
</form>
{% endblock %}
