{% extends 'django_atlassian/base.html' %}

{% block content %}

<div style="height: 600px;">
  <form class="aui" id="company-form" onsubmit="javascript: return false;">
    <label for="company-list">Company</label>
    <select id="company-list" name="company-list">
      <option value="None" selected>None</option>
      {% for c in companies %}
        <option value="{{ c.id }}">{{ c.name }}</option>
      {% endfor %}
    </select>
  <form>
</div>

<script>
  $(function() {
    company_list = AJS.$("#company-list")
    company_list.auiSelect2();

    var CompanyService = function() {
      return {
        save: function(data, errorCallback) {
          AP.require(['request'], function(request) {
            request({
              url: '/rest/api/3/issue/{{ key }}/properties/companies',
              type: 'PUT',
              contentType: 'application/json',
              data: JSON.stringify(data),
              error: errorCallback
            });
          });
        },
        clear: function(errorCallback) {
          AP.require(['request'], function(request) {
            request({
              url: '/rest/api/3/issue/{{ key }}/properties/companies',
              type: 'DELETE',
              error: errorCallback
            });
          });
        },
        get: function(errorCallback) {
          AP.require(['request'], function(request) {
            request({
              url: '/rest/api/3/issue/{{ key }}/properties/companies',
              type: 'GET',
              error: function(err){ console.log(err); },
              success: function(output){
                if(output){
                  data = output = JSON.parse(output);
                  company_list.val(data.value.company_id);
                  company_list.trigger('change');
                }
              }
            });
          });
        }
      }
    };

    var cs = new CompanyService();

    company_list.on('change', function (e) {
        var company_id = AJS.$("#company-list").val();
        var company = AJS.$("#company-list").find('option:selected').text();

        if (company != "None")
          cs.save({'company': company, 'company_id': company_id}, function() {
            AJS.flag({type: 'error', body: 'Can not save the property'});
          });
        else
          cs.clear(function() {
            AJS.flag({type: 'error', body: 'Can not clear the property'});
          });
    });

    // trigger the CompanyService and fill the selectbox with the Company selected
    cs.get();

  });

</script>

{% endblock %}
