{% extends 'base.html' %}
{% load static %}

{% block content %}

  <head>
    <link rel="stylesheet" type="text/css" href='{% static "atlassian/css/style.css" %}' >
  </head>

  <header class="aui-page-header">
      <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
              <span class="aui-avatar aui-avatar-large aui-avatar-project">
                  <span class="aui-avatar-inner">
                      <img alt="Fluendo" src='{% static "atlassian/img/fluendo.jpg" %}''>
                  </span>
              </span>
          </div>
          <div class="aui-page-header-main">
              <ol class="aui-nav aui-nav-breadcrumbs">
                  <li><a href="#">Fluendo</a></li>
                  <li><a href="#" class="custom">Customers</a></li>
                  <li class="aui-nav-selected">List View</li>
              </ol>
          </div>
          <div class="aui-page-header-actions">
              <div class="aui-buttons">
              </div>
          </div>
      </div>
  </header>

  <section>
    <table class="aui aui-table-sortable" id="customer-list">
      <thead>
          <tr>
              <th id="basic-number">#</th>
              <th id="customer-basic-fname">Customer</th>
              <th id="city-basic-fname">City</th>
              <th id="street-basic-fname">Street</th>
          </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
          <tr>
            <td>{{customer.id}}</td>
            <td>
              <a href="{% url 'sales-customers-detail-view' pk=customer.id %}">
                {{customer.company_name}}
              </a>
            </td>
            <td>{{customer.city}}</td>
            <td>{{customer.street}}</td>
          </tr>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
