{% extends 'base.html' %}
{% load static %}

{% block content %}

  <header class="aui-page-header">
      <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
              <span class="aui-avatar aui-avatar-large aui-avatar-project">
                  <span class="aui-avatar-inner">
                      <img alt="Fluendo" src='{% static "atlassian/img/fluendo.jpg" %}''>
                  </span>
              </span>
          </div>
          <div class="aui-page-header-main">
              <ol class="aui-nav aui-nav-breadcrumbs">
                  <li><a href="#">Fluendo</a></li>
                  <li><a href="#" class="custom">Customers</a></li>
                  <li class="aui-nav-selected">Detail View</li>
              </ol>
              <h1>{{customer.company_name}}</h1>
          </div>
          <div class="aui-page-header-actions">
              <div class="aui-buttons">
                  <button class="aui-button aui-button-subtle">Reload</button>
              </div>
          </div>
      </div>
  </header>

  <section>
    <form class="aui">
        <div class="field-group">

            <label for="company-name">Company Name</label>
            <input class="text medium-long-field"
                type="text"
                id="company-name"
                name="company-name"
                placeholder="company name"
                value="{{customer.company_name}}"/>
            <div class="description">
                the customer company name
            </div>

            <label for="company-name">Street</label>
            <input class="text medium-long-field"
                type="text"
                id="street"
                name="street"
                placeholder="street"
                value="{{customer.street}}"/>
            <div class="description"></div>

            <label for="company-name">City</label>
            <input class="text medium-long-field"
                type="text"
                id="city"
                name="city"
                placeholder="city"
                value="{{customer.city}}"/>
                <div class="description"></div>

            <label for="company-name">Postal Code</label>
            <input class="text short-field"
                type="text"
                id="pcode"
                name="pcode"
                placeholder="postal code"
                value="{{customer.postal_code}}"/>
                <div class="description"></div>

        </div>

        <div class="field-group">
            <label for="comment-input">Comment</label>
            <textarea class="textarea"
                name="comment-input"
                id="comment-input"
                placeholder="Your comment here..."></textarea>
        </div>

        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit"
                    type="submit"
                    value="Save"
                    id="comment-save-button">
                <a class="cancel" href="#">Cancel</a>
            </div>
        </div>

    </form>
  </section>

{% endblock %}
